.wp-block-gallery {

	figcaption {
		margin-bottom: 0;
	}

	// Block Styles
	&.is-style-twentytwentyone-overlapping-gallery {


		.blocks-gallery-grid {
			display: grid;
			grid-auto-rows: max-content;
			grid-row-gap: var(--global--spacing-vertical);
			grid-template-columns: repeat(#{ 7 }, 1fr);
		}
		
		.blocks-gallery-item {
			margin: 0;
			width: 100%;
			justify-self: start;

			figure {
				align-items: flex-start;
			}

			// Hide the caption. Not ideal, but it works.
			figcaption {
				display: none;
			}

			&:first-child {
				grid-column-start: 1;
				grid-column-end: span 3;
				grid-row-start: 1;
				grid-row-end: 4;
			}

			&:nth-child(2) {
				grid-column-start: 5;
				grid-column-end: span 8;
				grid-row-start: 3;
				grid-row-end: 7;
			}

			&:nth-child(3) {
				grid-column-start: 1;
				grid-column-end: span 5;
				grid-row-start: 6;
				grid-row-end: 9;
			}

			&:nth-child(4) {
				grid-column-start: 5;
				grid-column-end: span 8;
				grid-row-start: 9;
				grid-row-end: 12;
			}
		}
	}
}
