.wp-block-gallery {

	figcaption {
		margin-bottom: 0;
	}

	// Block Styles
	&.is-style-twentytwentyone-overlapping-gallery {

		.blocks-gallery-grid {
			display: grid;
			grid-auto-rows: max-content;
			grid-auto-flow: column;
			grid-row-gap: var(--global--spacing-vertical);
			grid-template-columns: repeat(7, 1fr);
		}

		.blocks-gallery-item {
			margin: 0;
			width: 100%;
			justify-self: start;
			grid-column-start: 1;
			grid-column-end: 4;

			figure {
				align-items: flex-start;
			}

			// Hide the caption because of overlap. Not ideal, but it works.
			figcaption {
				display: none;
			}

			&:first-child() {
				margin-bottom: 50%;

				// Additional styles for when there are only two gallery items.
				&:nth-last-child(2) {
					margin-bottom: 0;
					grid-column-end: span 5;
				}
			}

			&:nth-child(4n+2) {
				grid-column-start: 5;
				grid-column-end: 8;
				
				&:nth-child(2) {
					margin-top: 50%;
				}

				// Additional styles for when there are only two gallery items.
				&:last-child {
					grid-column-start: 3;
					grid-column-end: 8;
					margin-top: 0;
					transform: translateY(-50%);
				}
			}

			&:nth-child(4n+3) {
				grid-column-end: span 5;
				transform: translateY(-25%);
			}

			&:nth-child(4n+4) {
				margin-top: -25%;
				grid-column-start: 5;
				grid-column-end: 8;

				&:not(:last-of-type) {
					margin-bottom: 100%;
				}
			}

			&:nth-child(4n+5) {
				margin-top: 100%;
			}
		}
	}
}
