.wp-block-gallery {

	margin: 0 auto;

	.blocks-gallery-image,
	.blocks-gallery-item {

		// On mobile and responsive viewports, we allow only 1 or 2 columns at the most.
		width: calc((100% - var(--global--spacing-unit)) / 2);

		figcaption {
			margin: 0;
			// Text color is always white to account for default gradient background
			color: var(--global--color-white);
			font: var(--global--font-size-sm);
		}
	}

	// Apply max-width to floated items that have no intrinsic width.
	&.alignleft,
	&.alignright {
		max-width: 50%;
	}

	// Block Styles
	&.is-style-twentytwentyone-overlapping-gallery {

		.blocks-gallery-grid {
			width: 100%;
			display: grid;
			grid-auto-rows: max-content;
			grid-auto-flow: column;
			grid-row-gap: var(--global--spacing-vertical);
			grid-template-columns: repeat(7, 1fr);
		}
		
		.blocks-gallery-item {
			margin: 0;
			width: 100%;
			justify-self: start;
			grid-column-start: 1;
			grid-column-end: 4;

			figure {
				align-items: flex-start;
			}

			// Hide the caption because of overlap. Not ideal, but it works.
			figcaption {
				display: none;
			}

			&:first-child() {
				margin-bottom: 50%;
			}

			&:nth-child(4n+2) {
				grid-column-start: 5;
				grid-column-end: 8;
				
				&:nth-child(2) {
					margin-top: 50%;
				}
			}

			&:nth-child(4n+3) {
				grid-column-end: span 5;
				transform: translateY(-25%); 
			}

			&:nth-child(4n+4) {
				margin-top: -25%;
				grid-column-start: 5;
				grid-column-end: 8;

				&:not(:last-of-type) {
					margin-bottom: 100%;
				}
			}

			&:nth-child(4n+5) {
				margin-top: 100%;
			}
		}
	}
}
