.wp-block-social-links {

	// Override the [data-block]:first-child margin from utilities _editor.scss.
	li.wp-block-social-link:first-child {
		margin-top: var(--global--spacing-vertical);
	}

	&.is-style-twentytwentyone-social-icons-color {

		button {
			color: var(--global--color-primary);
		}

		.wp-social-link {
			background: none;
		}
	}

}
