---
name: Block test report
about: Block test report
title: ''
labels: ''
assignees: ''

---

### Testing default blocks

Block name:

1. Create a new post or a page for each block you want to test.
2. Add the block and use the default settings.
3. Save draft and go preview the post/page. Notice how the blocks look like in the front-end. Take screenshots.

Change the settings of the block, if available, and repeat step 3 until you test all options.

### Expected behaviour

Does the editor and front match?

Is there text that wraps or cuts off unexpectedly?

Does the block look as expected on different screen sizes?

### Color options

Test the block with its default colors:
When the body background color is changed, is the text readable?

###
4) If applicable, place the block inside a group block.
  Repeat steps 1-3
  
   If the block has alignment options, does the block stay inside the container?

5) If applicable, place the block inside a columns block. 
  Repeat steps 1-3
  
  If the block has alignment options, does the block stay inside the container?

### Screenshots
If issues were found, add screenshots of the editor view and the preview.

Editor version (please complete the following information):
WordPress version:
Gutenberg version:

What was used to test (please complete the following information):
OS:
Browser:
