/**
* Editor Post Title
* - Needs a special styles
*/

// Post title style
.wp-block.editor-post-title__block {
	border-bottom: 3px solid var(--global--color-border);
	padding-bottom: calc(2 * var(--global--spacing-vertical));
	margin-bottom: calc(3 * var(--global--spacing-vertical));
	max-width: var(--responsive--alignwide-width);

	.editor-post-title__input {
		color: var(--global--color-secondary);
		font-family: var(--heading--font-family);
		font-weight: var(--heading--font-weight-page-title);
		font-size: var(--global--font-size-page-title);
		line-height: var(--heading--line-height-h1);
	}
}

// Editor UI font styles
.wp-block.block-editor-default-block-appender > textarea {
	font-family: var(--global--font-secondary);
	font-size: var(--global--font-size-md);
}

// Gutenberg text color options

.has-primary-color[class] {
	color: var(--global--color-primary);
}

.has-secondary-color[class] {
	color: var(--global--color-secondary);
}

// Gutenberg background-color options
.has-background {

	&:not(.has-background-background-color) a:not(.wp-block-button__link),
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: currentColor;
	}
}

.has-primary-background-color[class] {
	background-color: var(--global--color-primary);
	color: var(--global--color-background);
}

.has-secondary-background-color[class] {
	background-color: var(--global--color-secondary);
	color: var(--global--color-background);
}

.has-white-background-color[class] {
	background-color: var(--global--color-white);
	color: var(--global--color-secondary);
}

.has-black-background-color[class] {
	background-color: var(--global--color-black);
	color: var(--global--color-primary);
}

// Gutenberg Font-size utility classes
.is-tiny-text,
.has-tiny-font-size {
	font-size: var(--global--font-size-xs);
}

.is-small-text,
.has-small-font-size {
	font-size: var(--global--font-size-sm);
}

.is-regular-text,
.has-regular-font-size,
.has-normal-font-size,
.has-medium-font-size {
	font-size: var(--global--font-size-md);
}

.is-large-text,
.has-large-font-size {
	font-size: var(--global--font-size-lg);
	line-height: var(--global--line-height-heading);
}

.is-larger-text,
.has-larger-font-size,
.has-huge-font-size {
	font-size: var(--global--font-size-xl);
	line-height: var(--global--line-height-heading);
}

.is-gigantic-text,
.has-gigantic-font-size {
	font-size: var(--global--font-size-xxl);
	line-height: var(--global--line-height-heading);

	// This size is meant to mimic the page titles, so the font weight is reduced to match.
	font-weight: var(--heading--font-weight-page-title);
}

// Drop cap
.has-drop-cap:not(:focus)::first-letter {
	font-family: var(--heading--font-family);
	font-size: calc(2 * var(--heading--font-size-h1));
	font-weight: var(--heading--font-weight);
}

/**
 * Spacing Overrides
 */

[data-block] {
	margin-top: var(--global--spacing-vertical);
	margin-bottom: var(--global--spacing-vertical);

	[data-block]:first-child {
		margin-top: 0;
	}

	// Needs to be the second-last child to avoid applying this to the appender.
	[data-block]:nth-last-child(2) {
		margin-bottom: 0;
	}
}

/* Block Alignments */
.wp-block {

	// Gutenberg injects a rule that limits the max width of .wp-block to 580px
	// This line overrides it to use the responsive spacing rules for default width content
	max-width: var(--responsive--aligndefault-width);

	// Use the theme's max-width for wide alignment.
	&[data-align="wide"],
	&.alignwide {
		max-width: var(--responsive--alignwide-width);
	}

	&[data-align="full"],
	&.alignfull {
		max-width: none;
	}
}

// Selects the post editor and not the site editor
.block-editor-block-list__layout:not(.edit-site-block-editor__block-list) {

	.wp-block {

		&[data-align="full"],
		&.alignfull {

			>[data-block] {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
}

.alignleft {
	margin: 0;
	margin-right: var(--global--spacing-horizontal);
}

.alignright {
	margin: 0;
	margin-left: var(--global--spacing-horizontal);
}
