/* Block Alignments */

/**
 * These selectors set the default max width for content appearing inside a post or page.
 */
.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.entry-attachment):not(.woocommerce),
*[class*="inner-container"] > *:not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.entry-attachment):not(.woocommerce) {
	@extend %responsive-aligndefault-width;
}

.entry-content > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.entry-attachment):not(.woocommerce) {
	margin-left: 0;
	margin-right: 0;
}

/**
 * .alignleft
 */
.alignleft {

	/*rtl:ignore*/
	text-align: left;

	/*rtl:ignore*/
	float: left;
	margin-top: 0;

	/*rtl:ignore*/
	margin-right: var(--global--spacing-horizontal);
	margin-bottom: var(--global--spacing-vertical);
}

// Targeting the .entry-content class is necessary to ensure these styles
// only apply when the block isn't nested.
.entry-content > .alignleft {
	max-width: var(--responsive--aligndefault-width);
	@extend %responsive-alignleft-mobile;
	@extend %responsive-alignleft;
}

/**
 * .aligncenter
 */
.aligncenter {
	clear: both;
	display: block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

/**
 * .alignright
 */
.alignright {

	/*rtl:ignore*/
	float: right;
	margin-top: 0;
	margin-bottom: var(--global--spacing-vertical);

	/*rtl:ignore*/
	margin-left: var(--global--spacing-horizontal);
}

// Targeting the .entry-content class is necessary to ensure these styles
// only apply when the block isn't nested.
.entry-content > .alignright {
	max-width: var(--responsive--aligndefault-width);
	@extend %responsive-alignright-mobile;
	@extend %responsive-alignright;
}

// Make sure siblings of floated elements are top-aligned when nested
[class*="inner-container"] > .alignleft + *,
[class*="inner-container"] > .alignright + * {
	margin-top: 0;
}

/**
 * .alignwide
 */
.alignwide {
	clear: both;
	@extend %responsive-alignwide-width;
}

.alignwide [class*="inner-container"] > .alignwide {
	@extend %responsive-alignwide-width-nested;
}

/**
 * .alignfull
 */
.alignfull {
	clear: both;
	@extend %responsive-alignfull-width;
}

.alignfull [class*="inner-container"] > .alignwide {
	@extend %responsive-alignwide-width-nested;
}

// Content alignment
.has-left-content {
	justify-content: flex-start;
}

.has-right-content {
	justify-content: flex-end;
}

// Parallax
.has-parallax {
	background-attachment: fixed;
}

// Gutenberg Font-size options
:root {

	.is-extra-small-text,
	.has-extra-small-font-size {
		font-size: var(--global--font-size-xs);
	}

	.is-small-text,
	.has-small-font-size {
		font-size: var(--global--font-size-sm);
	}

	.is-regular-text,
	.has-regular-font-size,
	.is-normal-font-size,
	.has-normal-font-size,
	.has-medium-font-size {
		font-size: var(--global--font-size-base);
	}

	.is-large-text,
	.has-large-font-size {
		font-size: var(--global--font-size-lg);
		line-height: var(--global--line-height-heading);
	}

	.is-larger-text,
	.has-larger-font-size,
	.is-huge-text,
	.has-huge-font-size {
		font-size: var(--global--font-size-xl);
		line-height: var(--global--line-height-heading);
	}
}

// Drop caps
.has-drop-cap:not(:focus)::first-letter {
	font-family: var(--heading--font-family);
	font-size: calc(2 * var(--heading--font-size-h1));
	font-weight: var(--heading--font-weight);
	line-height: 0.66;
	text-transform: uppercase;
	font-style: normal;
	float: left;
	margin: 0.1em 0.1em 0 0;
}

.has-drop-cap:not(:focus)::after {
	content: "";
	display: table;
	clear: both;
	padding-top: 14px;
}

.desktop-only {
	display: none;

	@include media(mobile) {
		display: block;
	}
}
