.post-password-form {
	display: flex;
	flex-wrap: wrap;

	&__label {
		width: 100%;
		margin-bottom: 0;
	}

	&__input {
		margin-top: calc(var(--global--spacing-vertical) / 3);
		margin-right: calc(-1 * var(--button--border-width));
	}

	&__submit {
		margin-top: calc(var(--global--spacing-vertical) / 3);
	}
}
