/* Add all variables here. */

// Vertical Rhythm Multiplier
$baseline-unit: 5px;

// Typescale Multipliers
$typescale-root: 18px; // Set 16px/1em default on html
$typescale-base: 1em; // Set 1em default on body == $typescale-root;
$typescale-ratio: 1.2; // Run ratio math on 1em == $typescale-base * $typescale-root;

:root {
	/* Font Family */
	--global--font-primary: var(--font-headings, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);
	--global--font-secondary: var(--font-base, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif);

	--global--font-code: monospace, monospace;
	--global--font-ui: var(--font-base, var(--global--font-secondary));

	/* Font Size */
	--global--font-size-root: #{$typescale-root};
	--global--font-size-ratio: #{$typescale-ratio};
	--global--font-size-base: #{$typescale-base};
	--global--font-size-xs: 14px;
	--global--font-size-sm: 16px;
	--global--font-size-md: 18px;
	--global--font-size-lg: 24px;
	--global--font-size-xl: 28px;
	--global--font-size-xxl: 32px;
	--global--font-size-xxxl: 48px;
	--global--font-size-page-title: 96px;
	--global--letter-spacing: normal;

	/* Line Height */
	--global--line-height-base: #{$typescale-base / ( $typescale-base * 0 + 1 )};
	--global--line-height-body: 1.7;
	--global--line-height-heading: 1.3;

	/* Headings */
	--heading--font-family: var(--global--font-primary);
	--heading--line-height: var(--global--line-height-heading);

	--heading--font-size-h6: var(--global--font-size-base);
	--heading--font-size-h5: var(--global--font-size-md);
	--heading--font-size-h4: var(--global--font-size-lg);
	--heading--font-size-h3: var(--global--font-size-xl);
	--heading--font-size-h2: var(--global--font-size-xxl);
	--heading--font-size-h1: var(--global--font-size-xxxl);

	--heading--letter-spacing-h6: var(--global--letter-spacing);
	--heading--letter-spacing-h5: var(--global--letter-spacing);
	--heading--letter-spacing-h4: var(--global--letter-spacing);
	--heading--letter-spacing-h3: var(--global--letter-spacing);
	--heading--letter-spacing-h2: var(--global--letter-spacing);
	--heading--letter-spacing-h1: var(--global--letter-spacing);

	--heading--line-height-h6: var(--global--line-height-heading);
	--heading--line-height-h5: var(--global--line-height-heading);
	--heading--line-height-h4: var(--global--line-height-heading);
	--heading--line-height-h3: var(--heading--line-height);
	--heading--line-height-h2: var(--heading--line-height);
	--heading--line-height-h1: var(--heading--line-height);

	--heading--font-weight: normal;
	--heading--font-weight-strong: 600;

	/* Block: Latest posts */
	--latest-posts--title-font-family: var(--heading--font-family);
	--latest-posts--title-font-size: var(--heading--font-size-h3);
	--latest-posts--description-font-family: var(--global--font-secondary);
	--latest-posts--description-font-size: var(--global--font-size-sm);

	--list--font-family: var(--global--font-secondary);
	--definition-term--font-family: var(--global--font-primary);

	/* Colors */
	/* Naming? */
	--global--color-primary: #28303D; /* Body text color, site title, footer text color. */
	--global--color-secondary: #39414D; /* Headings */

	--global--color-primary-hover: var( --global--color-primary );
	--global--color-secondary-hover: var( --global--color-secondary );

	--global--color-background: #D1E4DD; /* Mint, default body background */

	--global--color-black: black; /* Used for borders (separators) */
	--global--color-white: white;
	--global--color-white-50: rgba(255, 255, 255, 0.5); /* white 50% opacity used in form fields.*/

	--global--color-border: var( --global--color-black ); /* Used for borders (separators) */

	/* Spacing */
	--global--spacing-unit: #{$baseline-unit}; // 5px
	--global--spacing-measure: unset; // Use ch units here. ie: 60ch = 60 character max-width
	--global--spacing-horizontal: #{3 * $baseline-unit}; // 15px
	--global--spacing-vertical: #{5 * $baseline-unit}; // 25px

	/* Elevation */
	--global--elevation: 1px 1px 3px 0px rgba( 0, 0, 0, 0.2 );

	/* Other */
	--global--border-radius-sm: #{0.5 * $typescale-root};
	--global--border-radius-md: #{0.75 * $typescale-root};
	--global--border-radius-lg: #{$typescale-root};
	--global--border-radius-pill: #{10 * $typescale-root};
	--global--border-radius-none: 0;

	/* Forms */
	--form--font-family: var(--global--font-secondary);
	--form--font-size: var(--global--font-size-md);
	--form--line-height: var(--global--line-height-body);
	--form--color-text: var(--global--color-primary);
	--form--border-color: var(--global--color-border);
	--form--border-width: 3px;
	--form--border-radius: 0;
	--form--spacing-unit: calc(0.5 * var(--global--spacing-unit));

	/* Cover block */
	--cover--height: calc( 15 * var(--global--spacing-vertical) );
	--cover--color-foreground: var(--global--color-white);
	--cover--color-background: var(--global--color-black);

	/* Buttons */
	// Colors
	--button--color-text: var(--global--color-background);
	--button--color-text-hover: var(--button--color-text);
	--button--color-text-active: var(--button--color-text);
	--button--color-background: var(--global--color-secondary);
	--button--color-background-hover: var(--global--color-secondary-hover);
	--button--color-background-active: var(--global--color-primary);
	// Fonts
	--button--font-family: var(--global--font-ui);
	--button--font-size: var(--global--font-size-base);
	--button--font-weight: normal;
	--button--line-height: 1;
	// Borders
	--button--border-width: 2px;
	--button--border-radius: 4px;
	// Spacing
	--button--padding-vertical: calc(var(--global--spacing-horizontal) - var(--button--border-width));
	--button--padding-horizontal: var(--global--spacing-horizontal);

	/* entry */
	--entry-header--color: var(--global--color-primary);
	--entry-header--color-link: currentColor;
	--entry-header--color-hover: var(--global--color-primary-hover);
	--entry-header--color-focus: var(--global--color-secondary);
	--entry-header--font-family: var(--heading--font-family);
	--entry-header--font-size: var(--global--font-size-xxxl);
	--entry-content--font-family: var(--heading--font-size-h2);
	--entry-meta--color: var(--global--color-primary);
	--entry-meta--color-link: currentColor;
	--entry-meta--color-hover: var(--global--color-primary-hover);
	--entry-meta--font-family: var(--global--font-primary);
	--entry-meta--font-size: var(--global--font-size-sm);
	--entry-author-bio--font-family: var(--heading--font-family);
	--entry-author-bio--font-size: var(--heading--font-size-h3);

	/* Header */
	--branding--color-text: var(--global--color-primary);
	--branding--color-link: var(--global--color-primary);
	--branding--color-link-hover: var(--global--color-primary-hover);
	--branding--title--font-family: var(--global--font-primary);
	--branding--title--font-size: var(--global--font-size-lg);
	--branding--title--font-size-mobile: var(--heading--font-size-h4);
	--branding--title--font-weight: normal;
	--branding--title--text-transform: uppercase;
	--branding--description--font-family: var(--global--font-secondary);
	--branding--description--font-size: var(--global--font-size-sm);
	--branding--description--font-family: var(--global--font-secondary);

	--branding--logo--max-width: 120px;
	--branding--logo--max-height: 120px;
	--branding--logo--max-width-mobile: 96px;
	--branding--logo--max-height-mobile: 96px;

	/* Main navigation */
	--primary-nav--font-family: var(--global--font-secondary);
	--primary-nav--font-family-mobile: var(--global--font-primary);
	--primary-nav--font-size: var(--global--font-size-md);
	--primary-nav--font-size-mobile: var(--global--font-size-xxl);
	--primary-nav--font-size-sub-menu-mobile: var(--global--font-size-lg);
	--primary-nav--font-style: normal;
	--primary-nav--font-style-sub-menu-mobile: italic;
	--primary-nav--font-weight: normal;
	--primary-nav--line-height: var(--global--line-height-body);
	--primary-nav--color-link: var(--global--color-primary);
	--primary-nav--color-link-hover: var(--global--color-primary-hover);
	--primary-nav--color-text: var(--global--color-primary);
	--primary-nav--padding: calc(0.66 * var(--global--spacing-unit) );
	--primary-nav--justify-content: center;

	/* Pagination */
	--pagination--color-text: var(--global--color-primary);
	--pagination--color-link: var(--global--color-primary);
	--pagination--color-link-hover: var(--global--color-primary-hover);
	--pagination--font-family: var(--global--font-secondary);
	--pagination--font-size: var(--global--font-size-lg);
	--pagination--font-weight: normal;
	--pagination--font-weight-strong: 700;

	/* Comments */
	--comments--border-color: var(--global--color-border);

	/* Footer */
	--footer--color-text: var(--global--color-primary);
	--footer--color-link: var(--global--color-primary);
	--footer--color-link-hover: var(--global--color-primary-hover);
	--footer--font-family: var(--global--font-primary);
	--footer--font-size: var(--global--font-size-sm);

	/* Block: Pull quote */
	--pullquote--font-family: var(--global--font-primary);
	--pullquote--font-size: var(--heading--font-size-h2);
	--pullquote--font-style: italic;
	--pullquote--letter-spacing: var(--heading--letter-spacing-h4);
	--pullquote--line-height: var(--global--line-height-heading);
	--pullquote--border-width: 0;
	--pullquote--border-color: transparent;
	--pullquote--color-foreground: var(--global--color-primary);
	--pullquote--color-background: var(--global--color-background);

	--quote--border-color: var(--global--color-secondary);
	--quote--border-width: 1px;
	--quote--font-family: var(--global--font-secondary);
	--quote--font-size: var(--global--font-size-md);
	--quote--font-size-large: var(--global--font-size-lg);
	--quote--font-style: normal;
	--quote--font-style-large: normal;
	--quote--line-height: var(--global--line-height-body);
	--quote--line-height-large: 1.5;

	--separator--border-color: var(--global--color-border);
	--separator--height: 1px;
	--separator--width: calc(6 * var(--global--spacing-horizontal));

	--utilities--font-size-xs: var(--global--font-size-xs);
	--utilities--font-size-sm: var(--global--font-size-sm);
	--utilities--font-size-md: var(--global--font-size-md);
	--utilities--font-size-lg: var(--global--font-size-lg);
	--utilities--font-size-xl: var(--global--font-size-xl);
	--utilities--font-size-xxl: var(--global--font-size-xxl);
	--utilities--font-size-xxxl: var(--global--font-size-xxxl);

}
