/*
Adding print support. The print styles are based on the the great work of
Andreas Hecht in https://www.jotform.com/blog/css-perfect-print-stylesheet-98272/.
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Margins
# Typography
# Page breaks
# Links
# Visibility
--------------------------------------------------------------*/
@media print {
	/* Margins */
	@page {
		margin: 2cm;
	}
	.default-max-width, hr.wp-block-separator.is-style-wide, 
	.entry-content > :not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.entry-attachment):not(.woocommerce), 
	[class*="inner-container"] > :not(.entry-content):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.entry-attachment):not(.woocommerce), 
	.entry-content .wp-audio-shortcode, 
	.post-thumbnail,
	.wp-cover-block,
	.wp-block-gallery,
	.wp-block-gallery > ul,
	.wp-block-gallery.alignleft, 
	.wp-block-gallery.alignright,
	.wp-block-cover.alignleft, 
	.wp-block-cover.alignright, 
	.wp-block-cover-image.alignleft, 
	.wp-block-cover-image.alignright{
		max-width: none;
	}
	.wp-block-column {
		flex-basis: 0 !important;
		flex-grow: 1;
	}
	.entry {
		margin-top: 1em;
	}
	.entry .entry-header,
	.site-footer .site-info {
		margin: 0;
	}
	.site-main > *,
	#colophon {
		margin: 10pt 0;
	}
	/* Fonts */
	body {
		font: 13pt Georgia, "Times New Roman", Times, serif;
		font: 13pt var(--global--font-secondary, Georgia, "Times New Roman", Times, serif);
		line-height: 1.3;
		background: #fff !important;
		color: #000;
	}
	h1 {
		font-size: 24pt;
	}
	h2,
	h3,
	h4,
	.has-regular-font-size,
	.has-large-font-size,
	h2.author-title,
	p.author-bio,
	.comments-title {
		font-size: 14pt;
		margin-top: 25px;
	}
	.wp-block-latest-posts > li > a {
		font-size: 13pt;
		margin-bottom: 0;
	}
	.wp-block-latest-posts .wp-block-latest-posts__post-date {
		font-size: 11pt;
		margin-top: 0;
		line-height: 1.2;
	}
	/* Page breaks */
	a {
		page-break-inside: avoid;
	}
	blockquote {
		page-break-inside: avoid;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		page-break-after: avoid;
		page-break-inside: avoid;
	}
	img{
		page-break-inside: avoid  !important;
		display: inline-block !important;
	}
	table,
	pre {
		page-break-inside: avoid;
	}
	ul,
	ol,
	dl {
		page-break-before: avoid;
	}
	/* Links */
	a:link,
	a:visited,
	a {
		background: transparent;
		font-weight: bold;
		text-align: left;
		text-decoration: none;
	}
	a[href^="http"]:after {
		content: " <" attr(href) "> ";
		font-size: 9pt;
		word-break: break-word;
		font-weight: 300;
	}
	a:after > img {
		content: "";
	}
	article a[href^="#"]:after {
		content: "";
	}
	a:not(:local-link):after {
		content: " <" attr(href) "> ";
	}	
	iframe:before{
		content: " <" attr(src) "> " !important;
		font-weight: bold;
	}
	.wp-block-embed-instagram blockquote:before {
		content: " <" attr(data-instgrm-permalink) "> ";
		font-weight: bold;
	}
	.wp-block-embed-facebook blockquote:before {
		content: " <" attr(cite) "> ";
		font-weight: bold;
	}
	.wp-block-audio:before {
		content: "Audio";
	}
	.wp-block-audio audio {
		display: none;
	}
	div.wp-block-embed__wrapper a[href^="http"]:after{
		display: none !important;
	} 
	.wp-block-cover-text a[href^="http"]:after,
	.entry-title a[href^="http"]:after,
	.blocks-gallery-item figure a{
		display: flex;
		flex-direction: column;
	}
	/* Visibility */
	.primary-navigation,
	.site-title + .primary-navigation,
	.site-branding-container:before,
	.entry .entry-title:before,
	.entry-footer,
	.author-description:before,
	.post-navigation,
	.widget-area,
	.comment-form-flex,
	.comment-reply,
	.comment .comment-metadata .edit-link,
	.wp-block-calendar,
	.wp-block-search,
	.navigation.pagination,
	.wp-block-archives.wp-block-archives-dropdown,
	.wp-block-categories.wp-block-categories-dropdown,
	#comments #respond,
	.edit-link {
		display: none;
	}
	.entry .entry-content .wp-block-button .wp-block-button__link,
	.entry .entry-content .button {
		color: #000;
		background: none;
	}
	/* Site Header (With Featured Image) */
	.site-header.featured-image {
		min-height: 0;
	}
	.site-header.featured-image .primary-navigation a,
	.site-header.featured-image .primary-navigation a + svg,
	.site-header.featured-image .site-title a,
	.site-header.featured-image .site-featured-image a,
	.site-header.featured-image .site-branding .site-title,
	.site-header.featured-image .site-branding .site-description,
	.site-header.featured-image .primary-navigation a:after,
	.site-header.featured-image .primary-navigation .menu-wrapper > li.menu-item-has-children:after,
	.site-header.featured-image .primary-navigation li,
	.site-header.featured-image .entry-meta,
	.site-header.featured-image .entry-title,
	.site-header.featured-image#masthead .site-title a {
		color: #000;
		text-shadow: none;
	}
	.site-header.featured-image .site-featured-image .entry-header,
	.site-header.featured-image .site-branding-container {
		margin-top: 0;
		margin-bottom: 0;
	}
	.site-header.featured-image .site-featured-image .post-thumbnail img {
		position: relative;
		height: initial;
		width: initial;
		object-fit: none;
		min-width: 0;
		min-height: 0;
		max-width: 100%;
		margin-top: 1rem;
	}
	/* Remove image filters from featured image */
	.image-filters-enabled *:after {
		display: none !important;
	}
	.image-filters-enabled .site-header.featured-image .site-featured-image:before {
		display: none;
	}
	.image-filters-enabled .site-header.featured-image .site-featured-image .post-thumbnail img {
		filter: none;
	}
	/* Blocks */
	.wp-block-cover.has-background-dim {
		border: 1px solid black ;
	}
	.wp-block-cover-text {
		background-color: #fff !important;
	}
	.wp-block-button__link[href^="http"]:after,
	.wp-block-latest-posts.wp-block-latest-posts__list > li > a[href^="http"]:after {
		width: auto;
		display: table;
	}
	.wp-block-gallery .blocks-gallery-image figcaption, 
	.wp-block-gallery .blocks-gallery-item figcaption,
	figcaption,
	.wp-caption-text {
		position: static;
		background: #fff;
		color: #333;
		padding: 5px 0;
		font-size: small !important;
		text-align: left;
	}
	.wp-block-gallery .blocks-gallery-image figure, 
	.wp-block-gallery .blocks-gallery-item figure, 
	.blocks-gallery-grid .blocks-gallery-image figure, 
	.blocks-gallery-grid .blocks-gallery-item figure{
		flex-direction: column;
		height:auto !important;
	}
	.wp-block-gallery .blocks-gallery-image, 
	.wp-block-gallery .blocks-gallery-item, 
	.blocks-gallery-grid .blocks-gallery-image, 
	.blocks-gallery-grid .blocks-gallery-item {
		justify-content: flex-start;
		display: block;
		page-break-inside: avoid;
	}
	.wp-block-embed {
		max-width: 70% !important;
		margin: 10pt auto !important;
	}
	figure:not(.wp-block-embed-instagram):not(.wp-block-embed-facebook) .wp-block-embed__wrapper,
	.wp-block-embed-instagram blockquote,
	.wp-block-embed-facebook blockquote,
	.wp-block-audio:before {
		border: 1pt dotted black !important;
		box-shadow: none !important;
	}
	.wp-block-embed:before {
		content: "Embed: ";
	}
	.wp-block-embed-instagram blockquote{
		box-shadow: none !important;
	}
	.wp-block-latest-posts:not(.is-grid) > li {
		margin: 10pt 0 !important;
	}
}
