.wp-block-columns {

	.wp-block,
	.wp-block-column {
		// Allow Gutenberg to set the width of a block that lives inside the columns block.
		max-width: inherit;
	}

	&.is-style-twentytwentyone-columns-overlapping {

		@include media(laptop) {

			.wp-block-column:nth-child(2n) {
				margin-left: calc(-2 * var(--global--spacing-horizontal));
				margin-top: calc(2.5 * var(--global--spacing-horizontal));
			}
		}
	}
}
