.wp-block-columns {

	.wp-block,
	.wp-block-column {
		// Allow Gutenberg to set the width of a block that lives inside the columns block.
		max-width: inherit;
	}

	&.is-style-twentytwentyone-columns-overlap {

		@include media(laptop) {

			.wp-block-column:nth-child(2n) {
				margin-left: calc(-2 * var(--global--spacing-horizontal));
				margin-top: calc(2.5 * var(--global--spacing-horizontal));

				// Provide text-based child blocks with a default background color to ensure they're readable.
				> p,
				> h1,
				> h2,
				> h3,
				> h4,
				> h5,
				> h6,
				> ul,
				> ol,
				> pre {

					&:not(.has-background) {
						background-color: var(--global--color-background);
						padding: var(--global--spacing-unit);
					}
				}

				// Lists should still have their usual left padding.
				> ul:not(.has-background),
				> ol:not(.has-background) {
					padding-left: calc(2 * var(--global--spacing-horizontal));
				}

				&.is-vertically-aligned-center {
					margin-top: 0;
				}
			}
		}
	}
}
