.wp-block-columns {

	.wp-block-column {

		> * {
			margin-top: calc(0.66 * var(--global--spacing-vertical));
			margin-bottom: calc(0.66 * var(--global--spacing-vertical));

			@include media(mobile) {
				margin-top: var(--global--spacing-vertical);
				margin-bottom: var(--global--spacing-vertical);
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.wp-block-column:not(:last-child) {
		margin-bottom: calc(0.66 * var(--global--spacing-vertical));

		@include media(mobile) {
			margin-bottom: var(--global--spacing-vertical);
		}

		@include media(laptop) {

			/* Resetting margins to match _block-container.scss */
			margin-bottom: 0;
		}
	}

	&.is-style-twentytwentyone-columns-overlapping {

		@include media(laptop) {

			.wp-block-column:nth-child(2n) {
				margin-left: calc(-2 * var(--global--spacing-horizontal));
				margin-top: calc(2.5 * var(--global--spacing-horizontal));

				&.is-vertically-aligned-center {
					margin-top: 0;
				}
			}
		}
	}
}
