.wp-block-quote {
	border: none;
	margin: var(--global--spacing-vertical) 0;
	padding-left: var(--global--spacing-horizontal);

	&::before {
		color: currentColor;
		content: "\201C";
		display: block;
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		position: absolute;
		top: 4px;
		left: -20px;
	}

	p {
		color: var(--global--color-primary);
		font-family: var(--quote--font-family);
		font-size: var(--quote--font-size);
		font-style: var(--quote--font-style);
		line-height: var(--quote--line-height);
		font-weight: 700;
	}

	.wp-block-quote__citation {
		color: var(--global--color-primary);
		font-size: var(--global--font-size-sm);
		font-style: var(--pullquote--font-style);
		line-height: var(--quote--line-height);
		font-weight: 500;
		text-transform: none;

		&::before {
			content: "-\00a0";
		}


		.has-background:not(.has-background-background-color) &,
		[class*="background-color"]:not(.has-background-background-color) &,
		[style*="background-color"]:not(.has-background-background-color) &,
		.wp-block-cover[style*="background-image"] & {
			color: currentColor;
		}
	}

	&.is-large,
	&.is-style-large {
		padding-left: var(--global--spacing-horizontal);

		/* Resetting margins to match _block-container.scss */
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);

		p {
			font-size: var(--quote--font-size-large);
			font-style: var(--quote--font-style-large);
			line-height: var(--quote--line-height-large);
		}

		.wp-block-quote__citation {
			font-size: var(--quote--font-size);
			line-height: var(--quote--line-height);
		}

		&::before {
			font-size: 5rem;
			position: absolute;
			top: 2px;
			left: -20px;
		}
	}
}
