.wp-block-quote {
	margin: var(--global--spacing-vertical) 0;
	padding-left: var(--global--spacing-horizontal);
	position: relative;

	> * {
		margin-top: var(--global--spacing-unit);
		margin-bottom: var(--global--spacing-unit);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&::before {
		color: currentColor;
		content: "\201C";
		display: block;
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		position: absolute;
		top: 4px;
		left: 0;
	}

	p {
		color: var(--global--color-primary);
		font-family: var(--quote--font-family);
		font-size: var(--quote--font-size);
		font-style: var(--quote--font-style);
		line-height: var(--quote--line-height);
		font-weight: 700;
	}

	.wp-block-quote__citation,
	cite,
	footer {
		color: var(--global--color-primary);
		font-size: var(--global--font-size-sm);
		font-style: var(--pullquote--font-style);
		line-height: var(--quote--line-height);
		font-weight: 500;
		text-transform: none;

		&::before {
			content: "-\00a0";
		}

		.has-background:not(.has-background-background-color) &,
		[class*="background-color"]:not(.has-background-background-color) &,
		[style*="background-color"] &,
		.wp-block-cover[style*="background-image"] & {
			color: currentColor;
		}
	}

	/**
	 * Block Options
	 */
	&.has-text-align-right {
		padding-left: 0;
		padding-right: var(--global--spacing-horizontal);
	}

	&.is-style-large,
	&.is-large {

		/* Resetting margins to match _block-container.scss */
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
		padding-left: var(--global--spacing-horizontal);

		&.has-text-align-right {
			padding-left: 0;
			padding-right: var(--global--spacing-horizontal);
		}

		&.has-text-align-center {
			padding: 0 var(--global--spacing-horizontal);
		}

		p {
			font-size: var(--quote--font-size-large);
			font-style: var(--quote--font-style-large);
			line-height: var(--quote--line-height-large);
		}

		.wp-block-quote__citation,
		cite,
		footer {
			font-size: var(--quote--font-size);
			line-height: var(--quote--line-height);
		}

		&::before {
			font-size: 5rem;
			position: absolute;
			top: 6px;
			left: -15px;
		}
	}
}
