/* Button extends */
// Button Placeholder style
// - Since buttons appear in various blocks,
//   let’s use a placeholder to keep them all
//   in-sync
%button-style {
	@include crop-text(var(--button--line-height));
	background-color: var(--button--color-background);
	border-radius: var(--button--border-radius);
	border-width: 0;
	color: var(--button--color-text);
	cursor: pointer;
	font-weight: var(--button--font-weight);
	font-family: var(--button--font-family);
	font-size: var(--button--font-size);
	text-decoration: none;
	padding: var(--button--padding-vertical) var(--button--padding-horizontal);

	&:active {
		background-color: var(--button--color-background-active);
		color: var(--button--color-text-active);
	}

	&:hover {
		background-color: var(--button--color-background-hover);
		border-color: var(--button--color-background);
		border-style: solid;
		border-width: var(--button--border-width);
		color: var(--button--color-text-hover);
		padding: calc(var(--button--padding-vertical) - var(--button--border-width)) calc(var(--button--padding-horizontal) - var(--button--border-width));
	}

	&:focus,
	&.has-focus {
		background-color: var(--button--color-background);
		border-color: var(--button--color-background);
		border-style: solid;
		border-width: var(--button--border-width);
		color: var(--button--color-text);
		outline-color: var(--button--color-text);
		outline-offset: calc(var(--button--border-width) * -2.5);
		padding: calc(var(--button--padding-vertical) - var(--button--border-width)) calc(var(--button--padding-horizontal) - var(--button--border-width));
	}
}
