.wp-block-search {
	max-width: var(--responsive--aligndefault-width);

	.wp-block-search__label {
		font-size: var(--form--font-size);
		font-weight: var(--form--label-weight-strong);
		margin-bottom: calc(var(--global--spacing-vertical) / 3);
	}

	.wp-block-search__input {
		border: var(--form--border-width) solid var(--form--border-color);
		border-radius: var(--form--border-radius);
		font-family: var(--form--font-family);
		font-size: var(--form--font-size);
		line-height: var(--form--line-height);
		max-width: inherit;
		margin-right: calc(-1 * var(--button--border-width));
		padding: var(--form--spacing-unit);

		&:focus {
			border-color: var(--form--border-color);
		}
	}

	.wp-block-search__button {
		@extend %button-style;
		box-shadow: none;
		margin-left: 0;
		background-color: transparent;
		color: var(--button--color-text-hover);

		&:hover {
			background-color: var(--button--color-background);
			color: var(--button--color-text);
		}
	}
}
