.wp-block-search {
	max-width: var(--responsive--aligndefault-width);

	&__button-inside {

		.wp-block-search__inside-wrapper {
			background-color: var(--global--color-white);
		}
	}

	&__button-only.aligncenter {

		.wp-block-search__inside-wrapper {
			justify-content: center;
		}
	}

	.wp-block-search__label {
		font-size: var(--form--font-size);
		font-weight: var(--form--label-weight);
		margin-bottom: calc(var(--global--spacing-vertical) / 3);
	}

	.wp-block-search__input {
		border: var(--form--border-width) solid var(--form--border-color);
		border-radius: var(--form--border-radius);
		color: var(--form--color-text);
		line-height: var(--form--line-height);
		max-width: inherit;
		margin-right: calc(-1 * var(--button--border-width));
		padding: var(--form--spacing-unit);

		&:focus {
			color: var(--form--color-text);
			border-color: var(--form--border-color);
		}

		.has-background:not(.has-background-background-color) &,
		[class*="background-color"]:not(.has-background-background-color) &,
		[style*="background-color"] &,
		.wp-block-cover[style*="background-image"] & {
			border-color: currentColor;
		}

		.has-background.has-gray-background-color &,
		.has-background.has-dark-gray-background-color &,
		.has-background.has-black-background-color & {
			border-color: var(--global--color-white);
		}
	}

	button.wp-block-search__button {
		margin-left: 0;
		background-color: transparent;
		color: var(--button--color-text-hover);
		line-height: 1;
		padding: var(--button--padding-vertical) calc(0.5 * var(--button--padding-horizontal));
		border: var(--button--border-width) solid var(--button--color-background);

		&:hover {
			background-color: var(--button--color-background);
			color: var(--button--color-text);
		}

		body:not(.is-dark-theme) .has-background-dim &,
		body:not(.is-dark-theme) .has-background & {
			color: inherit !important;
			border-color: inherit !important;
		}

		body:not(.is-dark-theme) .has-background-dim &:hover,
		body:not(.is-dark-theme) .has-background &:hover {
			color: inherit !important;
			border-color: transparent !important;
		}

		&.has-icon {
			padding: 6px calc(0.5 * var(--button--padding-horizontal));

			svg {
				width: 40px;
				height: 40px;
				fill: currentColor;
			}
		}
	}

	&.wp-block-search__button-inside {
		
		&.wp-block-search__text-button {

			button.wp-block-search__button {
				// Match the text button size with the icon button.
				padding: var(--button--padding-vertical) calc(0.5 * var(--button--padding-horizontal));
			}
		}

		&.wp-block-search__text-button,
		&.wp-block-search__icon-button {

			button.wp-block-search__button {

				// Background-dim
				body:not(.is-dark-theme) .has-background &,
				body:not(.is-dark-theme) .has-background-dim & {
					color: var(--button--color-text-hover) !important;
					border-color: var(--button--color-background) !important;
				}

				body:not(.is-dark-theme) .has-background &:hover,
				body:not(.is-dark-theme) .has-background-dim &:hover {
					color: var(--button--color-text) !important; 
				}

				// Dark Theme
				.is-dark-theme & {
					color: var(--button--color-background) !important;
					background-color: var(--button--color-text) !important;
				}

				.is-dark-theme &:hover {
					color: var(--button--color-text) !important;
					background-color: var(--button--color-background) !important;
				}
			}
		}

		.wp-block-search__inside-wrapper {
			border: var(--button--border-width) solid var(--button--color-background);
		}

	}
}

.wp-block-search__button {
	box-shadow: none;
}
