.error-404 {
	display: flex;
	justify-content: center;
	height: 60vh;
	flex-direction: column;
}

.error404 .page-header {
	border-bottom: 3px solid transparent;
	margin-bottom: calc(var(--global--font-size-base) * 0.5);
}

.error404 p {
	font-size: var(--global--font-size-lg);
	margin-bottom: calc(var(--global--font-size-base) * 2.5);
}
