.error-404 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
	flex-direction: column;
}

.error404 .page-header {
	border-bottom: 3px solid transparent;
}

.error404 p {
	font-size: var(--global--font-size-lg);
}