/**
 * Comments Wrapper
 */
.comments-area {

	& > * {
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/**
 * Comment Title
 */

.comments-title,
.comment-reply-title {
	font-size: var(--heading--font-size-h1);
	letter-spacing: var(--heading--letter-spacing-h1);
}

.comment-reply-title {
	display: flex;
	justify-content: space-between;

	small {
		a {
			border-bottom: none;
			color: currentColor;
			font-family: var(--global--font-secondary);
			font-size: var(--global--font-size-xs);
			font-style: normal;
			font-weight: normal;
			letter-spacing: normal;
		}
	}
}

/**
 * Comment Lists
 */

.comment-list {
	padding-left: 0;
	list-style: none;

	> li {
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
	}

}

.comment-list .children {
	list-style: none;
	padding-left: var(--global--spacing-horizontal);

	> li {
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
	}

	@include media(mobile) {
		padding-left: calc(2 * var(--global--spacing-horizontal));
	}
}

/**
 * Comment Meta
 */

.comment-meta {
	$avatar-size: var(--global--spacing-vertical);

	.comment-author {
		line-height: var(--global--line-height-heading);
		margin-bottom: calc(0.25 * var(--global--spacing-unit));
		padding-right: calc(2.5 * var(--global--spacing-horizontal));
		max-width: calc(100% - (3 * var(--global--spacing-horizontal)));

		@include media(mobile) {
			margin-bottom: 0;
			padding-right: 0;
		}

		.fn {
			font-family: var(--global--font-secondary);
			font-weight: normal;
			font-size: var(--global--font-size-xxl);
			hyphens: auto;
			padding-left: 85px;
			word-wrap: break-word;
			word-break: break-word;
		}

		.avatar {
			border-radius: 50%;
			position: absolute;
			top: 5px;
		}
	}

	.comment-metadata {
		color: var(--global--color-primary);
		font-size: var(--global--font-size-xs);
		padding-left: 85px;

		a {
			border-bottom: none;
			color: currentColor;

			&:hover,
			&:focus {
				color: var(--global--color-primary-hover);
			}

			&:active {
				color: currentColor;
			}
		}
	}

	@include media(mobile) {
		margin-right: inherit;

		.comment-author {
			max-width: inherit;
		}
	}
}

.reply {
	font-size: var(--global--font-size-sm);
	line-height: var(--global--line-height-heading);
}

.reply {
	text-align: right;
	@include media(mobile) {
		text-align: left;
	}
}

.bypostauthor {
	display: block;
}

.says {
	display: none;
}

.pingback .url,
.trackback .url {
	font-family: var(--global--font-primary);
}

// Comment body
.comment-body {
	position: relative;
	margin-bottom: calc( 1.7 * var(--global--spacing-vertical));

	& > * {
		margin-top: var(--global--spacing-vertical);
		margin-bottom: var(--global--spacing-vertical);
	}

	.reply {
		margin: 0;
	}
}

.comment-content a {
	word-wrap: break-word;
}

// Pingbacks & Trackbacks
.pingback .comment-body,
.trackback .comment-body {
	margin-top: var(--global--spacing-vertical);
	margin-bottom: var(--global--spacing-vertical);
}

.comment-respond {
	margin-top: var(--global--spacing-vertical);
}

.comment-respond > * {
	margin-top: var(--global--spacing-unit);
	margin-bottom: var(--global--spacing-unit);

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
		&.comment-form {
			margin-bottom: var(--global--spacing-vertical);
		}
	}
}

.comment-author {
	padding-top: 3px;
	.url {
		border-bottom: none;
		color: currentColor;
	}
}

.comment-form {
	display: flex;
	flex-wrap: wrap;
	> * {
		flex-basis: 100%;
	}

	.comment-notes {
		font-size: var(--global--font-size-sm);
	}

	.comment-form-url,
	.comment-form-comment {
		width: 100%;
	}

	.comment-form-author,
	.comment-form-email {
		flex-basis: 0;
		flex-grow: 1;
	}

	.comment-form-cookies-consent > label,
	.comment-notes {
		font-size: var(--global--font-size-xs);
	}
}

.comment-form > p {
	margin-bottom: var(--global--spacing-unit);

	&:first-of-type {
		margin-top: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	label,
	input[type="email"],
	input[type="text"],
	input[type="url"],
	textarea {
		display: block;
		font-size: var(--global--font-size-md);
		margin-bottom: calc( .5 * var(--global--spacing-unit) );
		width: 100%;
		font-weight: 500;
	}

	&.comment-form-cookies-consent {
		display: flex;
	}

	@include media(mobile) {

		&.comment-form-author {
			margin-right: calc( 1.5 * var(--global--spacing-horizontal) );
		}

		&.comment-notes,
		&.logged-in-as {
			display: block;
		}
	}
}

// Comment navigation
.comment-navigation {
	a {
		font-family: var(--global--font-primary);
		font-size: var(--global--font-size-md);
		font-weight: 600;
	}
}
