.entry-title {

	color: var(--entry-header--color);
	font-size: var(--entry-header--font-size);
	letter-spacing: var(--heading--letter-spacing-h2);
	line-height: var(--heading--line-height);
	overflow-wrap: break-word;

	a {
		color: var(--entry-header--color-link);

		&:hover {
			color: var(--entry-header--color-hover);
		}

		&:focus {
			color: var(--entry-header--color-focus);
		}

		&:active {
			color: var(--entry-header--color-link);
		}
	}
}

.singular .entry-title {
	font-size: var(--global--font-size-page-title);
}

h1.entry-title {
	line-height: var(--heading--line-height-h1);
	font-weight: var(--heading--font-weight-page-title);
}

/**
 * Entry Content
 */

.entry-content,
.entry-summary {
	font-family: var(--entry-content--font-family);
}

.entry-content {

	p {
		word-wrap: break-word;
	}

	.more-link {

		&:hover {
			text-decoration: none;
		}
	}

	// Overwrite iframe embeds that have inline styles.
	> iframe[style] {

		margin: var(--global--spacing-vertical) 0 !important;
		max-width: 100% !important;

		@include media(mobile) {
			max-width: var(--global--spacing-vertical) !important;
		}
	}

	// Classic editor audio embeds.
	.wp-audio-shortcode {
		@extend %responsive-aligndefault-width;
	}
}

.entry-meta {

	color: var(--entry-meta--color);
	clear: both;
	float: none;
	font-size: var(--entry-meta--font-size);
	display: block;

	> span {
		display: inline-block;
		margin-right: var(--global--spacing-unit);

		> *,
		span .fn {
			display: inline-block;
			vertical-align: middle;
		}

		&:last-child {
			margin-right: 0;
		}

		.published + .updated {
			display: none; // Hide updated date?
		}
	}

	a {
		border-color: transparent;
		color: var(--entry-meta--color-link);

		&:hover,
		&:focus {
			color: var(--entry-meta--color-hover);
		}

		&:hover {
			border-color: var(--global--color-secondary);
		}

		&:focus {
			color: var(--global--color-secondary);
		}

		&:active {
			color: var(--entry-meta--color-link);
		}
	}
}

.entry-footer {

	color: var(--entry-meta--color);
	clear: both;
	float: none;
	font-size: var(--entry-meta--font-size);
	display: block;

	> span {
		margin-right: calc(0.5 * var(--global--spacing-unit));

		.published + .updated {
			display: none; // Hide updated date?
		}
	}

	a {
		color: var(--entry-meta--color-link);

		&:hover,
		&:focus {
			color: var(--entry-meta--color-hover);
		}

		&:hover {
			border-color: transparent;
		}

		&:active {
			color: var(--entry-meta--color-link);
		}
	}
}

// Extra specificity to override rules in _vertical-margins.scss
.site-main > article > .entry-footer {
	margin-top: var(--global--spacing-vertical);
	padding-top: var(--global--spacing-unit);
	padding-bottom: calc(3 * var(--global--spacing-vertical));
	border-bottom: var(--separator--height) solid var(--separator--border-color);
}

body:not(.single) .site-main > article:last-of-type .entry-footer {
	border-bottom: var(--separator--height) solid transparent;
}

.single .site-main > article > .entry-footer {
	margin-top: calc(3.4 * var(--global--spacing-vertical));
	margin-bottom: calc(3.4 * var(--global--spacing-vertical));
	padding-bottom: 0;
	padding-top: calc(0.8 * var(--global--spacing-vertical));
	border-top: 3px solid var(--separator--border-color);
	border-bottom: var(--separator--height) solid transparent;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: calc(2 * var(--global--spacing-horizontal));
}

.single .site-main > article > .entry-footer > span {
	margin-right: 0;
}

.single .site-main > article > .entry-footer .cat-links,
.single .site-main > article > .entry-footer .tags-links,
.single .site-main > article > .entry-footer .full-size-link {
	justify-self: end;
	text-align: right;
}

// Place tag links in last grid column space
.single .site-main > article > .entry-footer .tags-links {
	grid-column-start: 2;
}

/**
 * Post Thumbnails
 */

.post-thumbnail {
	@extend %responsive-aligndefault-width;
	text-align: center;

	.entry-header &,
	.singular & {
		@extend %responsive-alignwide-width-nested;
	}

	.wp-post-image {
		display: block;
		width: auto;
		min-width: var(--responsive--aligndefault-width);
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: calc(2.0 * var(--global--spacing-vertical)); // 100px
	}
}

/**
 * Author
 */

.author-bio {
	position: relative;
	font-size: var(--global--font-size-xs);
	max-width: var(--responsive--aligndefault-width);

	.site-main > article > & {
		margin-top: calc(2 * var(--global--spacing-vertical));
	}

	// Avatars are optional and can be turned off.
	&.show-avatars {

		.avatar {
			display: inline-block;
			vertical-align: top;
			border-radius: 50%;
		}

		.author-bio-content {
			display: inline-block;
			padding-left: var(--global--spacing-horizontal);
			max-width: calc(var(--responsive--aligndefault-width) - 90px);
		}
	}

	.author-bio-content {

		.author-title {
			font-family: var(--entry-author-bio--font-family);
			font-size: var(--entry-author-bio--font-size);
			display: inline;
		}

		.author-description {
			font-size: var(--global--font-size-xs);
			margin-top: calc(0.5 * var(--global--spacing-vertical));
			margin-bottom: calc(0.5 * var(--global--spacing-vertical));
		}
	}
}
