// Footer
.site-footer {
	overflow: hidden;
	//padding: var(--global--spacing-vertical) var(--global--spacing-horizontal);
	padding-bottom: calc( 1.7 * var(--global--spacing-vertical));
	margin-top: calc(6 * var(--global--spacing-vertical));

	@include media(desktop) {
		margin-left: calc(4 * var(--global--spacing-horizontal));
		margin-right: calc(4 * var(--global--spacing-horizontal));
	}
}

// Footer Branding
.site-footer > .site-info {
	color: var(--footer--color-text);
	font-family: var(--footer--font-family);
	font-size: var(--footer--font-size);
	line-height: var(--global--line-height-body);
	border-top: 3px solid var(--global--color-border);
	padding-top: var(--global--spacing-vertical);
	margin-top: calc(2 * var(--global--spacing-vertical));

	.site-name {
		text-transform: var(--branding--title--text-transform);
		font-size: var(--branding--title--font-size);
	}

	.copyright {
		margin-top: calc(0.5 * var(--global--spacing-vertical));
	}

	.imprint {
		display: block;
	}

	@include media(desktop) {
		display: flex;
		margin-top: calc(2 * var(--global--spacing-vertical));

		.imprint {
			display: initial;
		}
		
		.copyright {
			margin-top: initial;
			margin-left: auto;
		}
	}


	a {
		color: currentColor;
		border-bottom: none;

		&:link,
		&:visited,
		&:active {
			color: currentColor;
		}

		&:hover,
		&:focus {
			color: var(--footer--color-link);
		}
	}
}

// Footer navigation
.site-footer > .footer-navigation {

	display: inline;

	@include media(desktop) {
		margin-top: var(--global--spacing-unit);
		margin-bottom: var(--global--spacing-unit);
		text-align: left;
	}

	& > div {
		display: inline;
	}

	.footer-menu {

		color: var(--footer--color-text);
		margin: 0;
		padding-left: 0;

		& > li {
			display: inline-block;

			&:first-of-type > a {
				padding-left: 0;
			}

			&:last-of-type {
				padding-right: 0;
			}
		}

		.menu-item {
			padding: var(--primary-nav--padding) var(--primary-nav--padding) var(--primary-nav--padding) 0;

			a {
				font-family: var(--primary-nav--font-family);
				font-size: var(--footer--font-size);
				font-weight: var(--primary-nav--font-weight);
				color: currentColor;

				&:link,
				&:visited,
				&:active {
					color: currentColor;
				}

				&:hover {
					color: var(--footer--color-link-hover);
					border-color: var(--global--color-secondary);
				}

				&:focus {
					color: var(--global--color-secondary);
				}
			}
		}
	}
}
