
.footer-navigation {
	font-size: var(--global--font-size-xs);
	margin-top: calc(2 * var(--global--spacing-vertical));
}

.footer-navigation-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;

	li {
		display: inline;
		// This is to prevent hover styles from overlapping when the menu wraps.
		line-height: 3;

		a {
			padding: calc(1.25 * var(--primary-nav--padding)) var(--primary-nav--padding);
			transition: transform 0.1s ease;

			&:hover {
				text-decoration: underline;
				text-decoration-style: dotted;
				text-decoration-skip-ink: none;
			}
		}

		svg {
			vertical-align: middle;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	.sub-menu-toggle,
	.menu-item-description {
		display: none;
	}
}
