
// Site header

.site-header {
	@extend %responsive-alignwide-width;
	display: flex;
	padding-top: var(--global--spacing-vertical);

	@include media(mobile) {
		padding-top: calc(var(--global--spacing-vertical) / 0.75); // 40px
	}

	@include media(desktop) {
		padding-top: calc(2.4 * var(--global--spacing-vertical)); // 60px
	}
}

// Site branding

.site-branding {
	color: var(--branding--color-text);
	margin-right: 140px; /* TODO: Make room for the menu button if the title is very long. Adjust depending on menu icon.*/

	@include media(mobile) {
		margin-right: initial;

		/* TODO: Make room for the menu if the title is very long.*/
	}
}

// Site title

.site-title {

	color: var(--branding--color-link);
	font-family: var(--branding--title--font-family);
	font-size: var(--branding--title--font-size-mobile);
	letter-spacing: normal;
	text-transform: var(--branding--title--text-transform);
	line-height: var(--global--line-height-heading);
	margin-bottom: calc(var(--global--spacing-vertical) / 2);

	a {
		border-bottom: none;
		color: currentColor;
		font-weight: var(--branding--title--font-weight);

		&:link,
		&:visited,
		&:active {
			color: currentColor;
		}

		&:hover,
		&:focus {
			color: var(--global--color-secondary);
		}

	}

	@include media(mobile) {
		font-size: var(--branding--title--font-size);
	}
}

// Site description
.site-description {
	color: currentColor;
	font-family: var(--branding--description--font-family);
	font-size: var(--branding--description--font-size);
}

a.custom-logo-link,
nav a {
	border-bottom: 1px solid transparent;
	text-decoration: none;
}

.site-title > a {
	text-underline-width: .125em;
	text-decoration-color: var(--global--color-secondary);
}

// Site logo

.site-logo {

	margin: calc(var(--global--spacing-vertical) / 2) var(--global--spacing-horizontal);

	.custom-logo {
		max-width: var(--branding--logo--max-width-mobile);
		max-height: var(--branding--logo--max-height-mobile);
		height: auto;
	}

	@include media(mobile) {

		.custom-logo {
			max-width: var(--branding--logo--max-width);
			max-height: var(--branding--logo--max-height);
			height: auto;
		}
	}
}
