
// Navigation

// Mobile menu toggles
.menu-button-container {
	display: none;
	justify-content: space-between;
	position: absolute;
	right: 0;
	padding-top: calc(0.5 * var(--global--spacing-vertical));
	padding-bottom: calc(0.25 * var(--global--spacing-vertical));

	#primary-mobile-menu {
		margin-left: auto;
		padding: calc(var(--button--padding-vertical) - (0.25 * var(--global--spacing-unit))) calc(var(--button--padding-horizontal) - (0.25 * var(--global--spacing-unit)));
		margin-right: calc(0.5 * var(--global--spacing-unit));
	}

	@include media(mobile-only) {
		display: flex;
	}

	// Override specificty from default button styles.
	.button.button {
		display: flex;
		font-size: var(--primary-nav--font-size-button);
		font-weight: var(--primary-nav--font-weight-button);
		text-transform: var(--branding--title--text-transform);
		background-color: transparent;
		border: none;
		color: var(--primary-nav--color-link);

		.dropdown-icon {
			display: flex;
			align-items: center;

			.svg-icon {
				margin-left: calc(0.25 * var(--global--spacing-unit));
			}

			// Menu icon is off-center vertically to prevent blurry pixels.
			&.open .svg-icon {
				position: relative;
				top: -1px;
			}

			&.close {
				display: none;
			}
		}

		&[aria-expanded*="true"] {

			.dropdown-icon {

				&.open {
					display: none;
				}

				&.close {
					display: flex;
				}
			}
		}

	}

	// When the menu is open, hide the close button and show the hide button.
	.primary-navigation-open & {
		width: 100%;
		z-index: 500;
		background-color: var(--global--color-background);

		#primary-mobile-menu {
			position: static;
		}
	}
}

.primary-navigation {
	position: absolute;
	top: 0;
	right: 0;
	color: var(--primary-nav--color-text);
	font-size: var(--primary-nav--font-size);
	text-transform: var(--branding--title--text-transform);
	line-height: 1.15;
	margin-top: 0;
	margin-bottom: 0;

	// Mobile menu closed
	> .primary-menu-container {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: calc(3.5 * var(--global--spacing-unit)) var(--global--spacing-unit) var(--global--spacing-horizontal);
		background-color: var(--global--color-background);
		overflow-x: scroll;
		overflow-y: auto;
		transition: all .15s ease-in-out;
		transform: translateY(var(--global--spacing-vertical));

		@include media(mobile-only) {
			height: 100vh;
			z-index: 499;

			.admin-bar & {
				height: calc(100vh - 46px);
			}
		}
	}

	// Mobile menu open
	.primary-navigation-open & {

		@include media(mobile-only) {
			width: 100%;
			position: fixed;
		}

		> .primary-menu-container {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}

	}

	// Adjust positions when logged-in
	.admin-bar &,
	.admin-bar & > .primary-menu-container,
	.admin-bar.lock-scrolling & .button {
		top: 46px;
	}

	@include media(mobile) {
		position: relative;
		display: flex;
		justify-content: var(--primary-nav--justify-content);
		margin-left: auto;

		// Hide Mobile menu on desktop
		> .primary-menu-container {
			visibility: visible;
			opacity: 1;
			position: relative;
			padding: 0;
			background-color: transparent;
			overflow: initial;
			transform: none;
		}

		// Hide mobile menu toggle
		#toggle-menu {
			display: none;
		}

		// Hide sub-sub-menus
		> .primary-menu-container ul > li:not(.hover) .sub-menu-toggle[aria-expanded="false"] ~ ul {
			display: none;
		}

		// Don't adjust position when logged-in
		.admin-bar & {
			top: initial;

			> .primary-menu-container {
				top: initial;
			}
		}
	}

	// Menu list wrapper
	> div > .menu-wrapper {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		max-width: none;
		padding-left: 0;
		position: relative;

		@include media(mobile-only) {

			ul {
				padding-left: 0;
			}
		}

		li {
			display: block;
			margin: var(--primary-nav--padding) 0;
			position: relative;
			width: 100%;

			@include media(mobile) {
				margin: 0;
				width: inherit;

				&:last-child() {
					margin-right: 0;
				}
			}
		}

		// Sub-menu buttons
		.sub-menu-toggle {
			display: flex;
			height: 44px;
			width: 44px;
			padding: 0;
			justify-content: center;
			align-items: center;
			background: transparent;
			color: currentColor;
			border: none;

			&:focus {
				outline: 2px solid var(--wp--style--color--link, var(--global--color-primary));
			}

			@include media(mobile-only) {
				display: none;
			}

			// When the sub-menu is closed, display the plus icon
			&[aria-expanded="false"] {
				/* stylelint-disable */
				background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='18' height='18'><path d='M18 11.2h-5.2V6h-1.6v5.2H6v1.6h5.2V18h1.6v-5.2H18z' fill='%2328303d'/></svg>") no-repeat center center;
				/* stylelint-enable */
			}

			// When the sub-menu is open, display the minus icon
			&[aria-expanded="true"] {
				/* stylelint-disable */
				background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='18' height='18'><path d='M4 9h12v2H4V9z' fill='%2328303d'/></svg>") no-repeat center center;
				/* stylelint-enable */
			}

		}

		.hover .sub-menu-toggle {
			/* stylelint-disable */
			background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='18' height='18'><path d='M4 9h12v2H4V9z' fill='%2328303d'/></svg>") no-repeat center center;
			/* stylelint-enable */
		}

		// Sub-menus Flyout
		> li > .sub-menu {

			position: relative;

			@include media(mobile) {
				background: var(--global--color-background);
				left: 0;
				margin: 0;
				min-width: max-content;
				position: absolute;
				top: 100%;
				transition: all 0.5s ease;
				z-index: 99999;
			}

			.sub-menu {
				width: 100%;
			}
		}
	}

	// Top-level Item Link Colors
	.primary-menu > .menu-item:hover > a {
		color: var(--primary-nav--color-link-hover);
	}
	// Top-level Menu Item
	.primary-menu-container > ul > .menu-item {
		@include media(mobile) {
			display: flex;
			align-items: center;
			margin-left: calc(-1 * var(--primary-nav--padding)); // Better align with the site title when the menu wraps.
			margin-right: var(--primary-nav--padding);
			padding: 0 var(--primary-nav--padding);
		}
	}

	// Menu Item Link
	a {
		display: inline;
		font-family: var(--primary-nav--font-family-mobile);
		font-size: var(--primary-nav--font-size-mobile);
		font-weight: var(--primary-nav--font-weight);
		padding: var(--primary-nav--padding) 0;

		@include media(mobile) {
			display: block;
			font-family: var(--primary-nav--font-family);
			font-size: var(--primary-nav--font-size);
			font-weight: var(--primary-nav--font-weight);
		}

		+ svg {
			fill: var(--primary-nav--color-text);
		}

		&:hover,
		&:link,
		&:visited {
			color: var(--primary-nav--color-link-hover);
		}

		&:hover {
			text-decoration: underline dotted;
		}

		&:focus {
			z-index: 99999; // Ensure focus styles appear above absolute positioned elements
		}
	}

	.current-menu-item > a:first-child,
	.current_page_item > a:first-child {
		text-decoration: underline solid;

		&:hover {
			text-decoration: underline dotted;
		}
	}

	// Sub-menu depth indicators + text styles
	.sub-menu {
		list-style: none;
		margin-left: var(--primary-nav--padding);

		// Sub-menu items om wide screens.
		@include media(mobile) {
			padding: 0 var(--primary-nav--padding);

			// For nested sub-menus, don't duplicate the padding
			> .menu-item > .sub-menu {
				padding: 0;
			}
		}

		.menu-item {
			margin: calc(2 * var(--primary-nav--padding)) 0;


			@include media(mobile-only) {

				&:last-child() {
					margin-bottom: 0;
				}

			}

			> a {
				display: inline;
				font-size: var(--primary-nav--font-size-sub-menu-mobile);
				font-style: var(--primary-nav--font-style-sub-menu-mobile);

				@include media(mobile) {
					font-size: var(--primary-nav--font-size-sub-menu);
					font-style: var(--primary-nav--font-style);
				}
			}
		}
	}

	// Show top-level sub-menu indicators above mobile-breakpoint-only
	.menu-item-has-children {

		> .svg-icon {
			display: none;
		}

		@include media(mobile) {

			> .svg-icon {
				display: inline-block;
				height: 100%;
			}

			.sub-menu .svg-icon {
				display: none;
			}
		}

	}

}

// Keep the menu pinned to the top when the menu is open.
@include media(mobile-only) {

	.lock-scrolling .site {
		position: fixed;
		max-width: 100%;
		width: 100%;
	}
}
