// Navigation

// Mobile menu toggles
.menu-button-container {
	display: none;
	justify-content: space-between;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	#primary-open-menu {
		margin-left: auto;
		padding: calc(var(--button--padding-vertical) - (0.25 * var(--global--spacing-unit))) calc(var(--button--padding-horizontal) - (0.25 * var(--global--spacing-unit)));
		margin-top: calc(0.60 * var(--global--spacing-unit));
		margin-right: calc(0.25 * var(--global--spacing-unit));
	}

	@include media(mobile-only){
		display: flex;
	}
}

// General navigation styles.
.primary-navigation {
	color: var(--primary-nav--color-link);
	font-size: var(--primary-nav--font-size);
	text-transform: var(--branding--title--text-transform);

	// Sub menu font size
	& .has-child .wp-block-navigation__container {
		font-size: var(--primary-nav--sub--font-size);
	}

	// Override block library colors specifically for the primary navigation.
	&.wp-block-navigation:not(.has-background) .wp-block-navigation__container {
		background-color: var(--global--color-background);
	}
	&.wp-block-navigation .wp-block-navigation-link:not(.has-text-color) {
		color: var(--primary-nav--color-link);
	}
	// Override block library sub menu border.
	& .has-child .wp-block-navigation__container {
		border: none;
	}

	@include break-medium {
		& .has-child .wp-block-navigation__container {
			left: 0;
		}
		// Restore level 3 sub menus.
		& .has-child .wp-block-navigation__container .wp-block-navigation__container {
			left: 100%;
			top: -1px;
		}
	}
}

// Open and close buttons.
.menu-button-container,
.primary-navigation {
	.button {
		font-size: var(--primary-nav--font-size);
		text-transform: var(--branding--title--text-transform);
		background-color: transparent;
		color: var(--primary-nav--color-link);
		z-index: 500;

		&.open {
			display: flex;
			z-index: 499;
		}
		&.close {
			display: none;
		}

		.dropdown-icon {
			display: flex;
			align-items: center;

			.svg-icon {
				margin-left: calc(0.25 * var(--global--spacing-unit));
			}

			// Menu icon is off-center vertically to prevent blurry pixels.
			&.open .svg-icon {
				position: relative;
				top: -1px;
			}
		}

		.hide-visually {
			position: absolute !important;
			clip: rect(1px, 1px, 1px, 1px);
			padding:0 !important;
			border:0 !important;
			height: 1px !important;
			width: 1px !important;
			overflow: hidden;
		}
	}

	.primary-navigation-open & {
		#primary-open-menu {
			display: none;
		}
		#primary-close-menu {
			display: flex;
			padding: calc(var(--button--padding-vertical) - (0.25 * var(--global--spacing-unit))) calc(var(--button--padding-horizontal) - (0.25 * var(--global--spacing-unit)));
			margin-top: calc(0.60 * var(--global--spacing-unit));
			margin-right: calc(0.25 * var(--global--spacing-unit));
			margin-left: auto;
		}
	}
}

.primary-navigation {
	position: absolute;
	top: 0;
	right: 0;

	@include media(mobile-only) {
		width: 100%;
	}

	// Mobile menu closed
	& > .menu-wrapper {
		visibility: hidden;
		opacity: 0;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: calc(4* var(--global--spacing-unit)) var(--global--spacing-unit) var(--global--spacing-horizontal);
		background-color: var(--global--color-background);
		overflow-x: hidden;
		overflow-y: scroll;
		transition: all .15s ease-in-out;
		transform: translateY(var(--global--spacing-vertical));

		@include media(mobile-only) {
			z-index: 499;
		}
	}

	// Mobile menu open
	.primary-navigation-open & {
		> .menu-wrapper {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}

	}

	// Adjust button postion when scrolling is locked
	.lock-scrolling & > .button {
		position: fixed;
		top: 0;
		right: 0;
	}

	// Adjust positions when logged-in
	.admin-bar &,
	.admin-bar & > .menu-wrapper,
	.admin-bar.lock-scrolling & > .button {
		top: 46px;
	}

	.admin-bar.primary-navigation-open &,
	.admin-bar.primary-navigation-open & > .menu-wrapper,
	.admin-bar.primary-navigation-open.lock-scrolling & > .button {
		top: 0;
	}

	@include media(mobile) {
		// Adjust menu position.
		position: relative;
		margin-left: auto;

		// Hide Mobile menu on desktop
		& > .menu-wrapper {
			visibility: visible;
			opacity: 1;
			position: relative;
			padding: 0;
			background-color: transparent;
			overflow: initial;
			transform: none;
		}

		// Hide mobile menu toggle
		#toggle-menu {
			display: none;
		}

		// Don't adjust position when logged-in
		.admin-bar & {
			top: initial;

			& > .menu-wrapper {
				top: initial;
			}
		}
	}
}

// Keep the menu pinned to the top when the menu is open.
@include media(mobile-only) {
	.lock-scrolling .site {
		position: fixed;
		max-width: 100%;
	}
}
