.sticky {
	// This class is required to pass ThemeCheck.
}

.sticky-post {
	color: var(--global--color-background);
	background-color: var(--global--color-secondary);
	font-family: var(--global--font-secondary);
	font-size: var(--global--font-size-xs);
	line-height: 1;
	padding: calc(0.25 * var(--global--spacing-unit)) calc(0.33 * var(--global--spacing-unit));
}

.no-results.not-found > *:first-child {
	margin-bottom: calc(3 * var(--global--spacing-vertical));
}
