.sticky {
	// This class is required to pass ThemeCheck.
}

.no-results.not-found > *:first-child {
	margin-bottom: calc(3 * var(--global--spacing-vertical));
}

// Styling for wp_link_pages.
.page-links {
	clear: both;

	.post-page-numbers {
		margin-left: calc(0.66 * var(--global--spacing-unit));
		margin-right: calc(0.66 * var(--global--spacing-unit));
		padding: calc(0.33 * var(--global--spacing-vertical)) 0;

		&:first-child {
			margin-left: 0;
		}
	}
}
