.widget-area {
	font-size: var(--footer--font-size);
	margin-bottom: 0;

	@include media(desktop) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: calc(2 * var(--global--spacing-horizontal));
	}

	.wp-block-social-links {
		&.alignright {
			margin-top: var(--global--spacing-vertical);
			justify-content: flex-end;
		}

		&.alignleft {
			margin-top: var(--global--spacing-vertical);
		}
	}
	
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.widget-title {
	font-size: var(--global--font-size-sm);
	font-weight: 700;
	line-height: 1.4;
}

// Search widget styles
.search-form {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	max-width: var(--responsive--aligndefault-width);

	> label {
		width: 100%;
		font-weight: var(--form--label-weight-strong);
	}

	.search-field {
		flex-grow: 1;
		max-width: inherit;
		margin-right: calc(0.66 * var(--global--spacing-horizontal));
	}

	.search-submit {
		margin-left: 10px;
	}
}
