.widget-area {
	font-size: var(--footer--font-size);
	@include media(desktop) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: calc( 2 * var(--global--spacing-horizontal) );
	}
}

// Search widget styles
.search-form {
	display: flex;
	margin: auto;
	max-width: var(--responsive--aligndefault-width);

	> label {
		display: flex;
		margin-right: var(--global--spacing-horizontal);
		width: 100%;
		.search-field {
			width: 100%;
		}
	}
}