.widget-area {
	font-size: var(--footer--font-size);
	margin-bottom: 0;

	@include media(desktop) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: calc(2 * var(--global--spacing-horizontal));
	}

	ul {
		list-style-type: none;
		padding: 0;

		li {
			line-height: var(--widget--line-height-list);
		}

		&.sub-menu {
			margin-left: var(--widget--spacing-menu);
		}

		.sub-menu-toggle {
			display: none;
		}
	}

	a {
		text-decoration: underline solid currentColor;

		&:hover {
			text-decoration-style: dotted;
		}
	}

	.wp-block-social-links {

		&.alignright {
			margin-top: var(--global--spacing-vertical);
			justify-content: flex-end;
		}

		&.alignleft {
			margin-top: var(--global--spacing-vertical);
		}
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.widget-title {
	font-size: var(--global--font-size-sm);
	font-weight: var(--widget--font-weight-title);
	line-height: var(--widget--line-height-title);
}

// Search widget styles
.search-form {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	max-width: var(--responsive--aligndefault-width);

	> label {
		width: 100%;
		font-weight: var(--form--label-weight-strong);
	}

	.search-field {
		flex-grow: 1;
		max-width: inherit;
		margin-right: calc(0.66 * var(--global--spacing-horizontal));
	}

	.search-submit {
		margin-left: 10px;
	}
}

.widget_search > .search-form {

	.search-field {
		margin-right: calc(-1 * var(--button--border-width));
	}

	.search-submit {
		margin-left: 0;
		background-color: transparent;
		color: var(--button--color-text-hover);

		&:hover {
			background-color: var(--button--color-background);
			color: var(--button--color-text);
		}
	}
}

.widget_rss a.rsswidget .rss-widget-icon {
	display: none;
}
