.wp-block-button__link {
	// Extend button style
	@include button-style();
}

/**
 * Block Options
 */

// The parent container does not need outer margins applied. 
// The children should all have top and bottom margins. 
.wp-block.wp-block-buttons {
	margin-top: 0;
	margin-bottom: 0;

	.wp-block-button:first-child {
		margin-top: var(--global--spacing-vertical);
	}

	.wp-block-button:last-child {
		margin-bottom: var(--global--spacing-vertical);
	}
}

.wp-block-button {

	// Target the default and filled button states.
	&:not(.is-style-outline) {

		.wp-block-button__link {

			// Apply default button styles when custom text and background colors are not selected.
			&:not(.has-background):not(.has-text-color) {

				&:active {
					color: var(--button--color-text-active);
					background-color: var(--button--color-background-active);
				}

				&:hover {
					color: var(--button--color-text-hover);
					background: transparent;
				}
			}

			&.has-background,
			&.has-text-color {

				&:active,
				&:hover {
					outline-offset: -7px;
					outline: 2px dotted currentColor;
				}
			}
		}
	}

	// Outline Style.
	&.is-style-outline {

		.wp-block-button__link {

			color: var(--button--color-background);
			background: transparent;
			border: var(--button--border-width) solid currentColor;
			padding: var(--button--padding-vertical) var(--button--padding-horizontal);

			&:active,
			&:hover {
				background-color: var(--button--color-background);
				color: var(--button--color-text);
				border: var(--button--border-width) solid var(--button--color-background);
			}

			// Override the editors inline background color for the outline button.
			&.has-background {
				background: transparent !important;
			}

			&.has-background,
			&.has-text-color {

				&:active,
				&:hover {
					color: var(--button--color-background);
					outline-offset: -7px;
					background: transparent;
					outline: 2px dotted currentColor;
					border: var(--button--border-width) solid currentColor;
				}
			}
		}
	}

	// Squared Style
	&.is-style-squared {
		border-radius: 0;
	}
}

.is-selected.is-style-outline .wp-block-button__link:hover {
	background-color: transparent;
	color: var(--button--color-background);
}

.is-style-outline .wp-block-button__link[style*="radius"],
.wp-block-button__link[style*="radius"] {
	outline-offset: 2px;
}
