.wp-block-button__link {

	color: var(--button--color-text);
	font-weight: var(--button--font-weight);
	font-family: var(--button--font-family);
	font-size: var(--button--font-size);
	line-height: var(--button--line-height);
	background-color: var(--button--color-background);
	border-radius: var(--button--border-radius);
	border: var(--button--border-width) solid var(--button--color-background);
	padding: var(--button--padding-vertical) var(--button--padding-horizontal);

	&:hover {
		color: var(--button--color-text-hover);
		background-color: var(--button--color-background-hover);
	}

	&:focus,
	&.has-focus {
		outline-offset: -4px;
		outline: 2px dotted currentColor;
	}

	// Outline Style
	&.is-style-outline,
	.is-style-outline & {
		color: var(--button--color-background);
		background: transparent;
		border: var(--button--border-width) solid currentColor;

		&:active,
		&:hover {
			background-color: var(--button--color-background);
			color: var(--button--color-text);
			border: var(--button--border-width) solid var(--button--color-background);
		}

		&:focus,
		&.has-focus {
			outline-offset: -6px;
			background: transparent;
		}
	}

	// Squared Style
	&.is-style-squared,
	.is-style-squared & {
		border-radius: 0;
	}
}

div[data-type="core/button"] {
	display: block;
}
