/**
 * Button
 */
.site .button,
input[type="submit"],
input[type="reset"],
.wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button,
.wp-block-search .wp-block-search__button {
	// Extend button style
	@include button-style();
}

/**
 * Block Options
 */
.wp-block-button {

	// Outline Style.
	&.is-style-outline {

		.wp-block-button__link {
			border-color: inherit;
			padding: var(--button--padding-vertical) var(--button--padding-horizontal);

			&:not(.has-background) {
				background-color: transparent;
			}
			
			&:not(.has-text-color) {
				color: inherit;
			}

			&:active,
			&:hover {
				color: var(--button--color-text);
				background-color: var(--button--color-background) !important;
				border-color: transparent;
			}

			&:focus {
				color: var(--button--color-background) !important;
				background-color: transparent !important;
			}
		}
	}

	// Squared Style
	.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}
}

.is-style-outline .wp-block-button__link[style*="radius"]:focus,
.wp-block-button a.wp-block-button__link[style*="radius"]:focus {
	outline-offset: 2px;
	outline: 2px dotted var(--button--color-background);
}