/**
 * Button
 */
.site button,
.site .button,
input[type="submit"],
input[type="reset"],
.wp-block-button__link {
	// Extend button style
	@extend %button-style;
}

/**
 * Block Options
 */
.wp-block-button {

	font-family: var(--button--font-family);
	font-size: var(--button--font-size);
	font-weight: var(--button--font-weight);
	line-height: var(--button--line-height);

	// Override the link style in the reset file.
	a.wp-block-button__link {
		border-bottom: var(--button--border-width) solid var(--button--color-background);
	}

	a.wp-block-button__link:focus {
		outline-offset: -4px;
		outline: 2px dotted var(--button--color-text);
		color: var(--button--color-text);
	}

	// Outline Style
	&.is-style-outline {

		&.wp-block-button__link,
		.wp-block-button__link {
			color: var(--button--color-background);
			background: transparent;
			border: var(--button--border-width) solid currentcolor;
			padding: var(--button--padding-vertical) var(--button--padding-horizontal);

			&:active,
			&:hover {
				background-color: var(--button--color-background);
				color: var(--button--color-text);
				border: var(--button--border-width) solid var(--button--color-background);
			}

			&:focus,
			&.has-focus {
				outline-offset: -7px;
				background: transparent;
				outline: 2px dotted var(--button--color-background);
				color: var(--button--color-background);
			}
		}
	}

	// Squared Style
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}
}
