/**
 * Button
 */
.site button:not(.customize-partial-edit-shortcut-button).mejs-inner:not(button),
.site .button,
input[type="submit"],
input[type="reset"],
.wp-block-button .wp-block-button__link {
	// Extend button style
	@extend %button-style;
}

/**
 * Block Options
 */
.wp-block-button {

	// Outline Style.
	&.is-style-outline {

		&.wp-block-button__link,
		.wp-block-button__link {
			color: var(--button--color-background);
			background: transparent;
			border: var(--button--border-width) solid currentColor;
			padding: var(--button--padding-vertical) var(--button--padding-horizontal);

			&:visited {
				color: var(--button--color-background);
			}

			&:active,
			&:hover {
				background-color: var(--button--color-background);
				color: var(--button--color-text);
				border: var(--button--border-width) solid var(--button--color-background);
			}

			&:focus,
			&.has-focus {
				outline-offset: -7px;
				background: transparent;
				outline: 2px dotted var(--button--color-background);
				color: var(--button--color-background);
			}
		}
	}

	// Squared Style
	&.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}
}

.is-style-outline .wp-block-button__link[style*="radius"]:focus,
.wp-block-button a.wp-block-button__link[style*="radius"]:focus {
	outline-offset: 2px;
	outline: 2px dotted var(--button--color-background);
}
