/**
 * Button
 */
.site .button,
input[type="submit"],
input[type="reset"],
.wp-block-button .wp-block-button__link,
.wp-block-file .wp-block-file__button,
.wp-block-search .wp-block-search__button {
	// Extend button style
	@include button-style();
}

/**
 * Block Options
 */
.wp-block-button {

	// Dark theme + background-colors.
	&:not(.is-style-outline):not(.has-background) {

		.is-dark-theme .has-background:not(.has-black-background-color):not(.has-dark-gray-background-color):not(.has-gray-background-color) & .wp-block-button__link {
			background-color: var(--button--color-text);

			&:hover {
				background-color: var(--button--color-background);
			}
		}
	}

	&:not(.is-style-outline):not(.has-text-color) {

		.is-dark-theme .has-background:not(.has-black-background-color):not(.has-dark-gray-background-color):not(.has-gray-background-color) & .wp-block-button__link {
			color: var(--button--color-background);

			&:hover {
				color: var(--button--color-text);
			}
		}
	}

	// Outline Style.
	&.is-style-outline {

		.wp-block-button__link {
			border-color: inherit;
			padding: var(--button--padding-vertical) var(--button--padding-horizontal);

			&:not(.has-background) {
				background-color: transparent;
			}

			&:not(.has-text-color) {
				color: inherit;
			}

			&:active,
			&:hover {
				color: var(--button--color-text) !important;
				background-color: var(--button--color-background) !important;
				border-color: transparent;
			}

			&:focus {
				color: var(--button--color-background) !important;
				background-color: transparent !important;
			}
		}
	}

	// Squared Style
	.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}
}

.is-style-outline .wp-block-button__link[style*="radius"]:focus,
.wp-block-button a.wp-block-button__link[style*="radius"]:focus {
	outline-offset: 2px;
	outline: 2px dotted var(--button--color-background);
}
