/**
 * Button
 */
.site .button,
input[type="submit"],
input[type="reset"],
.wp-block-search__button,
.wp-block-button .wp-block-button__link {
	// Extend button style
	@include button-style();
}

.site .button,
input[type="submit"],
input[type="reset"],
.wp-block-search .wp-block-search__button,
.wp-block-file .wp-block-file__button {

	&:active,
	&:focus {
		color: var(--button--color-text-active);
		background-color: var(--button--color-background-active);
	}

	&:hover {
		color: var(--button--color-text-hover);
		background: transparent;
	}
}

/**
 * Block Options
 */
.wp-block-button {

	// Target the default and filled button states.
	&:not(.is-style-outline) {

		.wp-block-button__link {

			// Apply default button styles when custom text and background colors are not selected.
			&:not(.has-background):not(.has-text-color) {

				&:active {
					color: var(--button--color-text-active);
					background-color: var(--button--color-background-active);
				}

				&:hover {
					color: var(--button--color-text-hover);
					background: transparent;
				}
			}

			&.has-background,
			&.has-text-color {

				&:active,
				&:hover,
				&:focus {
					outline-offset: -7px;
					outline: 2px dotted currentColor;
				}
			}
		}
	}

	// Outline Style.
	&.is-style-outline {

		.wp-block-button__link {
			background: transparent;
			padding: var(--button--padding-vertical) var(--button--padding-horizontal);

			&:not(.has-background):not(.has-text-color) {
				color: var(--button--color-background);
				border: var(--button--border-width) solid currentColor;

				&:active,
				&:hover {
					background-color: var(--button--color-background);
					color: var(--button--color-text);
					border: var(--button--border-width) solid var(--button--color-background);
				}

				&:focus {
					outline-offset: -7px;
					background: transparent;
					outline: 2px dotted var(--button--color-background);
					color: var(--button--color-background);
				}

			}

			&.has-background,
			&.has-text-color {
				border: var(--button--border-width) solid currentColor;

				&:active,
				&:hover,
				&:focus {
					outline-offset: -7px;
					background: transparent;
					outline: 2px dotted currentColor;
					border: var(--button--border-width) solid currentColor;
				}
			}
		}
	}

	// Squared Style
	.is-style-squared .wp-block-button__link {
		border-radius: 0;
	}
}

.is-style-outline .wp-block-button__link[style*="radius"]:focus,
.wp-block-button a.wp-block-button__link[style*="radius"]:focus {
	outline-offset: 2px;
	outline: 2px dotted var(--button--color-background);
}
