.wp-block-file {

	.wp-block-file__textlink {
		border-bottom: 1px solid var(--global--color-secondary);
		color: var(--global--color-primary);
		text-decoration: none;
	}

	.wp-block-file__button {
		// Extend button style
		@extend %button-style;
		display: inline-block;
	}
}
