blockquote {

	p {
		font-size: var(--heading--font-size-h4);
		letter-spacing: var(--heading--letter-spacing-h4);
		line-height: var(--heading--line-height);
	}

	cite,
	footer {
		font-size: var(--global--font-size-xs);

	}

	> * {
		margin-top: var(--global--spacing-unit);
		margin-bottom: var(--global--spacing-unit);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}


}
