input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
.site textarea {
	border: var(--form--border-width) solid var(--form--border-color);
	border-radius: var(--form--border-radius);
	color: var(--form--color-text);
	background: var(--global--color-white-50);
	line-height: var(--global--line-height-body);
	padding: var(--form--spacing-unit);

	&:focus {
		color: var(--form--color-text);
		outline: 1px solid var(--form--border-color);
		background: var(--global--color-white);
	}
}

//Reset the negative offset from normalize to make the thicker "border" work on focus.
input[type="search"] {
	&:focus {
		outline-offset: 0;
	}
}

select {
	border: var(--form--border-width) solid var(--form--border-color);
	padding: calc( 0.5 * var(--form--spacing-unit));
	background: var(--global--color-white-50);
}

.site select:focus {
	background: var(--global--color-white);
}

textarea {
	width: 100%;
}

/**
https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/
https://codepen.io/aaroniker/pen/ZEYoxEY by Aaron Iker.
License: MIT.
*/
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
	input[type=checkbox],
	input[type=radio] {
		-webkit-appearance: none;
		-moz-appearance: none;
		position: relative;
		width: 25px;
		height: 25px;
		background: var(--global--color-white-50);
		border: var(--form--border-width) solid var(--form--border-color);
		outline-offset: 0;
	}

	input[type=checkbox] {
		&:focus {
			outline: 1px solid var(--form--border-color);
			background: var(--global--color-white);
		}

		&:after {
			content: '';
			opacity: 0;
			display: block;
			left: 5px;
			top: 2px;
			position: absolute;
			width: 7px;
			height: 13px;
			border: 3px solid var(--form--color-text);
			border-top: 0;
			border-left: 0;
			transform: rotate(30deg);
		}

		&:checked {
			background: var(--global--color-white);
			color: var(--form--color-text);

			&:after {
				opacity: 1;
			}
		}
	}

	input[type=radio] {
		border-radius: 50%;

		&:focus {
			background: var(--global--color-white);
			border: 4px solid var(--form--border-color);
			outline: 1px dotted transparent;
		}

		&:after {
			content: '';
			opacity: 0;
			display: block;
			left: 3px;
			top: 3px;
			position: absolute;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			background: var(--form--color-text);
		}

		&:checked {
			background: var(--global--color-white);
			border: 4px solid var(--form--border-color);
			outline: 1px dotted transparent;

			&:after {
				opacity: 1;
			}

			// Focus style for checked radio buttons
			&:focus {
				box-shadow: 0 0 0 2px var(--form--border-color);
			}
		}

	}

}

 // Vertically align checkbox + label relationship
input[type=checkbox] + label {
	display: inline;
	margin-left: 10px;
	font-weight: normal;
	font-size: var(--global--font-size-xs);
}

label {
	font-size: var(--form--font-size);
	font-weight: var( --form--label-weight);
	margin-bottom: 10px;
}
