/*
 * text-underline-offset doesn't work in Chrome at all 👎
 * But looks nice in Safari/Firefox, so let's keep it and
 * maybe Chrome will support it soon.
 */
a {
	color: var(--wp--style--color--link, var(--global--color-primary));
	text-underline-offset: 3px;
}

a:hover {
	text-decoration-style: dotted;
}

.site a:focus {
	outline: 2px solid var(--wp--style--color--link, var(--global--color-primary));
	text-decoration: none;
}
