#night-day-toggle {
	cursor: pointer;
	position: fixed;
	bottom: 5px;
	right: 5px;
	padding: 5px;

	display: flex;
	align-items: center;
	justify-content: center;

	input {
		width: 1px;
		height: 1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
	}
	*,
	*:after,
	*:before {
		box-sizing: border-box;
	}

	label {
		position: relative;
		display: block;
		width: 60px;
		height: 33px;
		border-radius: 33px;
		background-color: currentColor;
		overflow: hidden;
		cursor: pointer;
		margin: 0;

		&:before,
		&:after {
			display: block;
			position: absolute;
			content: "";
			width: 24px;
			height: 24px;
			border-radius: 50%;
			top: 4.5px;
			left: 4.5px;
			transition: .1s ease-in-out;
		}
		&:before {
			background-color: var(--global--color-background);
		}

		&:after {
			background-color: currentColor;
			left: -19px;
			transform: scale(0.00001);
		}
	}

	input[type="checkbox"] {

		&:checked + label {
			&:before {
				background-color: var(--global--color-background);
				transform: translateX(27px);
			}

			&:after {
				transform: translateX(40px) scale(1);
			}
		}
	}

	&.focused {
		box-shadow: 0 0 0 2px currentColor;
	}
}
