#night-day-toggle {
	cursor: pointer;
	position: fixed;
	bottom: 1em;
	right: 1em;

	input {
		display: none;

		+ label {
			border-radius: 50%;
			width: 36px;
			height: 36px;
			position: relative;
			box-shadow: inset 16px -16px 0 0 var(--global--color-dark-gray);
			transform: scale(1) rotate(-2deg);
			transition: box-shadow .5s ease 0s, transform .4s ease .1s;

			&:before {
				content: "";
				width: inherit;
				height: inherit;
				border-radius: inherit;
				position: absolute;
				left: 0;
				top: 0;
				transition: background .3s ease;
			}

			&:after {
				content: "";
				width: 8px;
				height: 8px;
				border-radius: 50%;
				margin: -4px 0 0 -4px;
				position: absolute;
				top: 50%;
				left: 50%;
				box-shadow: 0 -23px 0 #fff, 0 23px 0 #fff, 23px 0 0 #fff, -23px 0 0 #fff, 15px 15px 0 #fff, -15px 15px 0 #fff, 15px -15px 0 #fff, -15px -15px 0 #fff;
				transform: scale(0);
				transition: all .3s ease;
			}
		}

		&:checked + label {
			box-shadow: inset 32px -32px 0 0 var(--global--color-dark-gray);
			transform: scale(.5) rotate(0deg);
			transition: transform .3s ease .1s, box-shadow .2s ease 0s;

			&:before {
				background: #fff;
				transition: background .3s ease .1s;
			}

			&:after {
				transform: scale(1.5);
				transition: transform .5s ease .15s;
			}
		}
	}
}
